.body {
    background-color: #E6F1F1;
    min-height: 92vh;
    display: flex;
    flex-direction: column;
  }

  .sort {
    background: linear-gradient(0deg, rgb(1, 92, 100) 0%, rgb(1, 92, 100) 100%);
    color: rgb(255, 255, 255);
  }

  .sort-menu {
    background: linear-gradient(0deg, rgb(0, 131, 142) 0%, rgb(0, 131, 142) 100%);
    color: rgb(255, 255, 255);
    /* margin-top: 0.1em; */
    margin-bottom: 0.03em;
    margin-top: 0.01em;
  }